body {
    background-color: #141414;
    color: greenyellow;
    font-family: 'Comic Sans MS'; 
    height: 100%;
    max-height: 100vh;
    overflow: hidden;

}

.zoneMain {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    margin: 50px;
}


.zoneKategories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.kategory {
    background-color: #a91010;
    border-radius: 15px;
    min-height: 15vh;
    min-width: 29vw;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

    text-align: center;
    font-size: 50px;
}


.zoneStorages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.storage {
    background-color: #149714;
    border-radius: 15px;
    min-height: 15vh;
    min-width: 29vw;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

    text-align: center;
    font-size: 50px;
}


.zoneIncome {
    background-color: #1c84cc;
    border-radius: 15px;
    min-height: 15vh;
    min-width: 29vw;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
