html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Оставляем скролл заблокированным */
    background-color: #fddaed;
    user-select: none; 
}

.intro.hidden {
    opacity: 0;
    visibility: hidden;
}

.intro {
    position: fixed; /* Только фиксированное положение */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Фон всегда сзади */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.intro span {
    font-family: "Inter"; 
    font-size: 1.2rem;
    color: #fd8496;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#nejno {
    color: #fdbcdf;
}

.arrow {
    width: 30px;
    height: 30px;
    border-left: 2px solid #d89402;
    border-top: 2px solid #fd8496;
    transform: rotate(45deg);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0) rotate(45deg);}
    40% {transform: translateY(-10px) rotate(45deg);}
    60% {transform: translateY(-5px) rotate(45deg);}
}

#grid {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5; /* Сетка поверх всего */
    width: 100%;
    min-height: 100vh;
    pointer-events: none; /* Пропускаем клики сквозь пустую сетку к интро */
    
}

#grid a {
    display: inline-block;
    opacity: 0;
    /* Уводим картинку за верх экрана */
    transform: translateY(-120vh); 
    pointer-events: auto; /* Возвращаем клики самим картинкам */
}

#grid img {
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
}
